.row{
    width: 100%;
}
.title{
  margin-left: 10%;
}
.carousel {
    margin: 1.5rem;
  }
  .carousel-inner {
    height: auto;
  }
  
  .carousel-control-prev {
    margin-left: -1%;
  }

  .carousel-control-next {
    margin-right: -1%;
  }
  .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.card{
  max-width: 230px;
  max-height: 200px;
  width: 230px;
  height: 200px;
    margin: 5px;
    background-color: #B1D7B4;
}
img{
  justify-content: center;
  transition: visibility 0s, opacity 0.5s linear;
  transform: translate(15px,15px);
  max-height: 100%;
  max-width: 100%;
}
mat-card-content{
  display: none;
}

.card:hover mat-card-content{
  display: block;
}
.card:hover img{
  display: none;
}




