.row{
    width: 100%;
}
.carousel {
    margin: 1.5rem;
  }
  .carousel-inner {
    height: auto;
  }
  
  .carousel-control-prev {
    margin-left: -1%;
  }

  .carousel-control-next {
    margin-right: -1%;
  }
  .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.card{
    margin: 5px;
    background-color: #B1D7B4;
}
.card-image{
  width: 100%;
  height: 100%;
}
.card-body{
  padding-top: 1;
  display: none;
}

.card-image{
  max-height: 190px;
  max-width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.card:hover {
  transform:scale(1.1);

}

.card:hover .card-body {
  display: block;
}



