<div class="row pad">
    <div class="col-lg-4 col-md-5 col-sm-12 we">
      <img class="image" [src]="this.file"/>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 p-3 center-block text-center">
      <h1><strong>{{book?.title}}</strong></h1>

         <p><strong>Authors:</strong> {{getAuthors(book)}}</p><br>
         <p><strong>Genres:</strong> {{getGenres(book)}}</p><br>
         <p><strong>Release Date:</strong> {{book!.releaseDate | date:'shortDate'}}</p>
         <p><strong>Summary:</strong> {{book?.description}}</p>
        <div class="container">
          <button [routerLink]="['/book',this.bookid,'content']" class="btn btn-primary">Read Book</button>

          <div *ngIf="!book?.isFavorited">
            <button (click)="addBookToFavorites()" class="btn btn-secondary">Add Book to Favorites</button>
          </div>
          <div *ngIf="book?.isFavorited">
            <button (click)="removeBookFromFavorites()" class="btn btn-secondary">Remove from Favorites</button>
          </div>
        </div>
          
        </div>
      </div>
